/*==========================================================================================*/
/*	@author     Douglas Grant Smiley														*/
/*	@Dropbox 	Public base URL	https://dl.dropboxusercontent.com/u/12619073				*/
/*											       											*/
/*==========================================================================================*/

/* @import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic); */


/*==========================================================================================*/
/*											       											*/
/*											 CORE  											*/
/*											       											*/
/*==========================================================================================*/

html, body, div {
	background-color: #ffffff;
}
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
	font: 13px/18px Helvetica,Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	line-height: 18px;
	color: #333337;
}

iframe {
	height: 670px;
}
textarea {
	font-size: 0.8em;
}
pre {
    background-color: #eee;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 13px;
    margin-bottom: 0.5em;
    max-height: 480px;
    overflow: auto;
    padding: 5px;
    width: auto;
}
h2.center {
	text-transform: none;
	color: #333;
	background-color: transparent;
	padding: 0px;
	text-decoration: none;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	margin-top: 3px;
	margin-right: 0pt;
	margin-bottom: 15px;
	margin-left: 0pt;
	text-align:center;
}
code {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: black;
    padding: 1px 4px;
}
pre, code, tt, kbd, samp, .mw-code {
    font-family: monospace,Courier;
	
}

/*==========================================================================================*/
/*											       											*/
/*											 CLASS											*/
/*											       											*/
/*==========================================================================================*/
.key {
    background-color: #f4f7f8;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px 1px rgba(230, 230, 230, 0.8) inset, 0 2px 0 0 rgba(255, 255, 255, 0.8) inset;
    display: inline-block;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-size: 0.95em;
    line-height: inherit;
    padding: 2px 4px;
    white-space: nowrap;
}

.noscript {
	position:absolute;
	width:120%;
	height:120%;
	background-color:#FFF;
	top: 0px;
	margin-left:-10px;
	margin-bottom:-10px;
	z-index:10000;
	padding-left:40px;
}
.dgs-bar {
    background-color: #697f9a;
    background-image: -moz-linear-gradient(center top , #9aa9bb 0%, #486384 100%);
    border-radius: 0 0 6px 6px;
	border-bottom:1px solid #000000;
    color: #ffffff;
    font-size: 1.8em;
    height: 40px;
    left: 50%;
    margin-left: -51%;
    position: fixed;
    top: 0;
    width: 104%;
    z-index: 10000;
}
.dgs-bar p{
	color:white;
	margin-left:30px;
	vertical-align:middle;
	font-size:0.9em;
	line-height:0.03em;
}
.dgs-top-banner {
    background-color: #697f9a;
    background-image: -moz-linear-gradient(center top , #9aa9bb 0%, #486384 100%);
    border-radius: 0 0 6px 6px;
	border-bottom:1px solid #000000;
    color: #ffffff;
    font-size: 1.8em;
    height: 40px;
    left: 50%;
    margin-left: -51%;
    position: fixed;
    top: 0;
    width: 104%;
    z-index: 10000;
}
.dgs-top-banner p {
	margin-left: 10%;
	font-size: 0.7em;
	color: #fff;
	margin-top: 0.5em;
	line-height: 1.5em;
}
.dgs-top-banner p a {
	color: #fff;
	font-size: 0.9em;
	text-decoration: none;
	cursor: pointer;
}
.dgs-main-body-div {
/*  border-radius: 5px;
    left: 50%;
    margin-left: -40%;
    min-width: 220px;
    position: relative;
    top: 75px;
    width: 75%;
    z-index: 21; */
	border-radius: 5px;
    min-width: 220px;
    position: relative;
    top: 40px;
    width: 100%;
    z-index: 21;
	max-width:
}
.dgs-main-body-div div#tabs {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.dgs-main-body-div ul li a {
	font-weight: normal;
	font-size: 1.1em;
	color: #333;
	text-decoration: none;
	word-spacing: -1px;
}
.dgs-main-body-div ul li {
	list-style-type: none;
	list-style-image: none;
	word-spacing: -1px;
}
.dgsCenter {
	position: absolute;
	height: 490px;
	width: 890px;
	margin: -245px 0 0 -445px;
	top: 50%;
	left: 50%;
}
			
.codeheader h4 {
	font-size: 1.5em;
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	margin:0 0 1em 0;
}
.dgs-keybd-btn{
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #AAAAAA;
	border-radius: 4px 4px 4px 4px;
	line-height: 1.8em;
	margin: 0;
	padding: 0 3px 1px;
	vertical-align: baseline;
	white-space: nowrap;
}
.code {
  background-color:#FAFAFA;
  border:1px solid #CCCCCC;
  color:#000000;
  font-family:'Courier new', monospace;
  font-size:12px;
  font-weight:bold;
  line-height:30px;
  margin-bottom:10px;
  min-height:30px;
  overflow:auto;
  padding:10px;
  white-space:nowrap;
  width:95%;
}
.dgs-content-box {
    position: relative;
    width: 96%;
}
.dgs-content-box div#section {
    border: 1px solid #999999;
    border-radius: 5px;
    color: #000000;
    font-size: 0.8em;
    left: 5%;
    line-height: 1.2em;
    margin-bottom: 40px;
    position: relative;
    width: 97%;
}

.dgs-bottom-banner {
	position: fixed;
	width: 110%;
	height: 20px;
	background-color: #607894;
	background-image: -moz-linear-gradient(center top, #9AA9BB 0%, #486384 100%);
	border-radius: 6px 6px 6px 6px;
	font-size: 0.9em;
	font-family: Verdana, Geneva, sans-serif;
	z-index: 10000000;
	line-height: 1.5em;
	bottom: 0px;
	margin-left: -5%;
}
.dgs-bottom-banner p {
	margin-left: 33%;
	font-weight: 700 !important;
	font-size: 0.7em;
	color: #FFF;
	margin-top: 0.5em;
}
.dgs-bottom-banner p a {
	font-weight: 700 !important;
	color: #FFF;
	text-decoration: underline;
}
.dgs-emp-table {
	text-transform: none !important;
	color: #333 !important;
	background-color: transparent !important;
	width:100% !important;
	height:auto !important;
	padding: 0px !important;
	text-decoration: none !important;
	font-size: 1.3em !important;
	font-style: normal !important;
	line-height: 1.2em !important;
	font-weight: bold !important;
	font-variant: normal !important;
	margin: 25px 0px 0px 0px !important;
}
.dgs-bottom-banner-old {
	position: fixed;
	width: 105%;
	height: 35px;
	background-image: url(../js/jquery/css/custom-theme/images/ui-bg_glass_75_96a7c0_1x400.png);
	/* background-image: url(https://dl.dropboxusercontent.com/u/12619073/js/jquery/css/custom-theme/images/ui-bg_glass_75_96a7c0_1x400.png); */
	margin: 0px -30px 0px -30px;
	background-position: center;
	background-repeat: repeat-x;
	font-size: 0.9em;
	z-index: 20;
	line-height: 1.5em;
	bottom: 0;
}
.dgs-loc-bottom-banner {
	position: fixed;
	width: 105%;
	height: 28px;
	background-color: #486384;
	background-image: -moz-linear-gradient(center top, #9AA9BB 0%, #486384 100%);
	margin: 0px -30px 0px -30px;
	background-position: center;
	background-repeat: repeat-x;
	font-size: 0.9em;
	z-index: 20;
	line-height: 1.5em;
	bottom: 0;
	border-top: 2px solid #666;
	outline: #000 2px solid;
	padding-left: 50%;
}
.dgs-loc-bottom-banner p {
	margin-left: -200px;
	font-weight: 700 !important;
	font-size: 0.7em;
	color: #D0D8E0;
	margin-top: 0.5em;
	width: 400px;
	text-align: center;
}
.dgs-main-body-div-border {
	position: absolute;
	width: 800px;
	left: 50%;
	top: 0px;
	margin: 0px 0px 0px -400px;
	padding: 5px;
	border: 1px solid #CCC;
}

.menubar-left {
	height:50px;
/* 	background: url(../images/menubar_node_noborder.png) no-repeat left top; */
	width: 80%;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.menubar-right {
	height:50px;
/* 	background: url(../images/menubar_noborder.png) no-repeat right top; */
	float: right;
	width: 20%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.nav-button {
	list-style:none;
	padding:0;
/* 	background: url(../images/menubar_noborder.png) no-repeat center top; */
	margin-left: 226px;
	margin-top: 0px;
	min-width: 225px;
}
.nav-button li {
	height:39px;
	float:left;
	margin-top:0px;
	margin-right:0px;
}
.nav-button li:hover {
	background-image:url(../images/hover_menubar.png);
	/* background-image:url(https://dl.dropboxusercontent.com/u/12619073/images/hover_menubar.png); */
	background-position:top left;
}
.nav-button li a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 2.5em;
	margin-right: 10px;
	padding-left:1em;
	color: #000;
}
.online_profiles {

	border:1px solid #CCCCCC;
	color:#FFFFFF;
	width:10em;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 0px 21px;
	margin-left: 1em;
}
.resume-heading {
	font-size: 1.1em;
	font-style: normal;
	line-height: 1.2em;
	font-weight: bold;
	text-transform: none;
	color: #000 ;
	background-color: transparent;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000 ;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.dgs-globalNav-new {
	/* -moz-linear-gradient(left center , rgba(0, 0, 0, 0.2) 0pt, transparent 0.2%, transparent 99.8%, rgba(0, 0, 0, 0.2) 100%) repeat scroll 0 0%, no-repeat scroll 50% 50%, -moz-linear-gradient(center bottom , #666666 0pt, #5E5E5E 50%, #707070 51%, #808080 100%) repeat scroll 0 0 transparent;*/
    background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.2) 0pt, transparent 5%, transparent 97%, rgba(0, 0, 0, 0.45) 100%) repeat scroll 0 0%;
	height: 50px;
	width: 500px;
}
.dgs-stuff-div {
	margin:5px 5px 10px 20px;
}
.dgs-stuff-div h2 {
	border-bottom:1px solid #ccc;
	margin-bottom:0.1em;
}
.dgs-stuff-div h3 {
	margin-left:0px;
	font-size:0.5em;
	font-style:italic;
	margin-top:0px;
}
.dgs-esc-tble {
	border-collapse:collapse;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	display: inline;
}
.dgs-esc-tble td {
	border:#CCC solid 1px;
	padding: 5px;
	text-align:center;
}
.dgs-esc-tble th {
	border:#CCC solid 1px;
	text-align:center;
}
.dgs-dates-company-loc {
}
.errordesc {
	padding:20px 0 0 0;
	left:200px;
	top:20px;
	width: 500px;
}
.dgs-span{
	font-weight:normal;
	font-size:1.0em;
	font-style:italic;
}
.section {
    border: 1px solid #999999;
    border-radius: 5px;
    color: #000000;
    font-size: 0.8em;
    left: 5%;
    line-height: 1.2em;
    margin-bottom: 40px;
    position: relative;
    width: 97%;
}
.section #content {
    color: #000000;
    font-size: 1em;
    left: 50%;
    margin-bottom: 30px;
    margin-left: -40%;
    position: relative;
    top: 20px;
    width: 80%;
    word-spacing: -1px;
}

/*==========================================================================================*/
/*											       											*/
/*											 ID  											*/
/*											       											*/
/*==========================================================================================*/

#Name {
	font-family:Helvetica,Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
#dgs-top-banner {
	position: fixed;
	width: 135%;
	height: 39px;
	background-color: #607894;
	background-image: -moz-linear-gradient(center top, #9AA9BB 0%, #486384 100%);
	margin: 0px -50px 0px -50px;
	border-radius: 6px 6px 6px 6px;
	font-size: 0.9em;
	font-family: Verdana, Geneva, sans-serif;
	z-index: 20;
	line-height: 1.5em;
}
#dgs-top-banner p {
	margin-left: 5%;
	font-weight: 700 !important;
	font-size: 0.9em;
	color: #FFF;
}
#dgs-bottom-banner {
    position: fixed;
    width: 105%;
    height: 35px;
    background-color: #607894;
    background-image: -moz-linear-gradient(center top , #9AA9BB 0%, #486384 100%);
    margin: 0px -50px 0px -50px;
    border-radius: 6px 6px 6px 6px;
    font-size: 1.0em;
    font-family: Verdana, Geneva, sans-serif;
    z-index: 1000000;
    line-height: 1.5em;
    bottom: 0;
}
#dgs-bottom-banner p {
    margin-left: 33%;
    font-weight: 700 !important;
    font-size: 0.9em;
    color: #FFF;
    margin-top: 0.5em;
}
#dgs-bottom-banner p a {
    font-weight: 700 !important;
    color: #FFF;
    text-decoration: underline;
}
#manage-background {
	background-color: #FFF !important;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
#layerDiv {
	opacity: 0.9;
	width: 110%;
	height: 110%;
	margin-left: -10px;
	margin-top: -10px;
	background-color: #000;
	position: fixed;
}
#add-candidates {
	background-color: #FFF;
}
#manage {
	background-color: #FFF;
}
#top {
	height:50px;
	width: 950px;
	text-align:center;
	vertical-align:text-top;
	padding: 0 0 0 0;
/* 	background-image: url(../images/menubar_noborder.png); */
}
#middle {
	margin:0 auto;
	padding:0 0 25px 0;
	height:1000px;
}
#bottom {
	height:50px;
	margin-left: -325px;
	left:50%;
	width:650px;
	min-width: 500px;
	padding: 0;
/* 	background-image:url(../images/footerbar.png); */
	background-position:center top;
	background-repeat:no-repeat;
	bottom: 0px;
	position:relative;
}
#bottom_left {
	height:50px;
/* 	background-image:url(../images/footerbar.png); */
	background-position:left top;
	background-repeat:no-repeat;
	width:80%;
	float:left;
}
#bottom_center {
	width:100%;
	background-color:transparent;
	height:25px;
	margin:0 auto;
}
#bottom_center a {
	text-decoration:none;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	vertical-align:bottom;
	padding-left: 10%;
	line-height: 4em;
}
#bottom_right {
	height:50px;
/* 	background-image:url(../images/footerbar.png); */
	background-position:right top;
	background-repeat:no-repeat;
	width:20%;
	float:right;
}

#contact-info {
	position: absolute;
	margin-top:20px;
	left:300px;
}
#profile_photo {
	margin:0pt auto;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
	width: auto;
	padding-right: 40px;
	padding-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#social_links {
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:auto;
	line-height:normal;
	text-transform:none;
	width:7em;
	margin-left: 15px;
}
#social_links table tbody td a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	text-decoration:none;
	font-variant:normal;
	font-weight:normal;
	color:#333;
}
#social_links table tbody td img {
	border:0;
}
#td_left {
	width:20%;
	margin:0 auto;
	padding:15px 15px 0 0;
	vertical-align:top;
	text-align:left;
}
#td_right {
	width:650px;
	margin:0 25px 0 0;
	padding:15px 30px 0 15px;
	text-align:left;
	vertical-align:top;
	position: relative;
	border-width: 0px;
	height: auto;
}
#td_right li {
	text-transform: none;
	color: #333;
	text-decoration: none;
	letter-spacing: 0.1pt;
	word-spacing: 0.15pt;
	list-style-image:url(../images/bullet.png);
	list-style-type:disc;
	margin:0.2em 0 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:400;
}
#td_right a {
	text-decoration:none;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1em;
}
#td_right links li {
	list-style: none;
}
#td_right #tech_terms li a:after {
	content:"  (" attr(href) ")  ";
}
#td_right #links h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border-bottom:1px solid #CCC;
	margin:10px 0 -10px 0;
	font-style:normal;
	font-weight:bold;
}
#td_right links h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	border:0;
	margin:10px 0 0 0;
	font-style:normal;
	font-weight:bold;
}

#resume {
    color: #000000;
    font-size: 1em;
    left: 50%;
    margin-bottom: 30px;
    margin-left: -40%;
    position: relative;
    top: 20px;
    width: 80%;
    word-spacing: -1px;
}
#resume-print {
	color:#000;
	font-size: 10px;
	width:8in;
	border: 1px solid #ccc;
	padding: 20px;
	position:absolute;
	left:0px;
	top:0px;
}
#resume li {
	list-style-image:url(../images/bullet.png);
}
#resume p#contact {
	margin:0 0 10px 0;
	padding:0 0 0 35%;
}
#resume table {
	margin:0 0 0 0px;
	font-size:1.0em;
}
#resume table li {
	margin:0 0 0 0px;
	font-size:0.9em !important;
}
#resume h3{
	font-size:1.3em;
	margin:10px 0px 0px 0px;
}

#pro_training {
	margin:0 0 0 0;
	width:80%;
	font-family: Arial, Helvetica, sans-serif;
}
#pro_training td#date {
	padding:0 0 0 0;
	width: 100px;
}
#pro_training td#course-name {
	padding:0 0 0 8px;
}
#education td#date {
	padding:0 0 0 0%;
	width: 100px;
}
#education td#school {
	padding:0 0 0 8px;
}
#education {
	margin:0 0 0 0;
	width: 80%;
	font-family: Arial, Helvetica, sans-serif;
}

#social_links2 {
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:auto;
	line-height:normal;
	text-transform:none;
	margin-left: 15px;
}
#social_links2 table tbody td a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	text-decoration:none;
	font-variant:normal;
	font-weight:normal;
	color:#333;
}
#social_links2 table tbody td img {
	border:0;
}

#job-search-string-container table tr {
	padding-top:5px;
	padding-bottom:5px;
}
#tbl-container {
	border:none;
	padding:0px;
}
#tbl-icon {
	border:none;
	width:16px;
	height:16px;
	padding:0px;
}
#tbl-icon img {
	border:none;
	width:16px;
	height:16px;
	padding:0px;
}
#tbl-text {
	border:none;
	padding-left:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:x-small;
}
#dgs-emp-table-date {
	width:35%;
}
#dgs-emp-table-company{
	width:40%;
}
#dgs-emp-table-location{
	text-align:left;
	float:left;
}